@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2018-11-23 14:02:14
 * @version $Id$
 */
.navbar-light .navbar-nav .nav-link {
    color: #333;
}
ul.navbar-nav {
    height: 44px;
    margin-left: 20px;
    margin-top: 6px;
}
li.nav-item {
    padding: 0px 12px;
}
li.nav-item>a.nav-link {
    font-size: 20px;
}
#xxx li.nav-item>a.nav-link:hover {
    color: #a50a5e;
}
.icon {
    /* 通过设置 font-size 来改变图标大小 */
    width: 2em;
    height: 2em;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
             normalize.css 中也包含这行 */
    overflow: hidden;
}
a {
    font-size: 20px;
}